aiohttp
aiosignal
appier
async-timeout
attrs
autopep8
certifi
charset-normalizer
commonmark
frozenlist
idna
multidict
numpy
packaging
playwright
pycodestyle
Pygments
pyparsing
python-dotenv
PyYAML
requests
slack-bolt
tomli
torch
transformers
typing_extensions
urllib3
yarl
llama-cpp-python
langchain
beautifulsoup4
ollama
diffusers
accelerate
optimum-quanto

tts==0.21.3